:root {
  --white: white;
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --ligth-grey-blue: #b8b8b9; 
  --grey: #727272;
  --dark-grey: #54585a;
  --black: black;
}

@font-face {
  font-family: "Awesome Font";
  src: url("../assets/fa-brands-400.woff");
}

/*HEADER*/

.page-header {
  width: 100%;
  height: 105px;
  position: fixed;
  z-index: 1500;
  background-color: var(--blue-green);
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h1-text {
  font-family: "Rubik-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  color: var(--white);
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 15px;
}
.nav-class {
  width: 100%;
  height: 45px;
  background-color: var(--aqua);
  opacity: 0.95;
}
.ul-header {
  height: 45px;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.nav-list {
  list-style-type: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.nav-links {
  font-family: "Rubik", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: var(--white);
}
.nav-links:hover {
  color: var(--grey-links);
}
/*HERO*/
.div-hero {
  width: 100%;
  height: 350px;
  /*Dar a la imagen el alto que necesitamos y que ajuste el alto*/
} 
.img-hero {
  width: 100%;
  height: 420px;
  position: absolute;
  top:0;
  left:0;
  z-index: -1000;
  background-size: cover;
}
.div-slogan {
width: 100%;
position: absolute;
top: 370px;
left: 0px;
z-index: 1000;
}
.h2-slogan {
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size: 1.125rem;
line-height: 1.563rem;
text-align: center;
padding: 15px;
margin: 15px;
background-color: var(--white);
}
.h2-slogan .div-slogan {
  text-align: center;
  position: relative;
}
/* ABOUT US*/
.about {
  width: 100%;
  position: relative;
  top: 90px;
}
.container {
  margin-left: 15px;
  margin-right: 15px;
  border: 0;
}
.equipo-title-container {
  height: 45px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
  color: var(--aqua);
}
.equipo-text {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #54585a;
}
.fortalezasydebilidades {
  width: 100%;
  background-color: #b8b8b9;
  position: relative;
}
.FyD-title-container {
  width: 100%;
  height: 10%;
  font-family: "Open Sans", sans-serif;
  font-size:  1.375rem;
  font-weight: 500;
  line-height: 2.05;
  text-align: center;
  color: var(--blue-green);
}
.FyD-text-container {
  width: 100%;
  height: 40%;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}
/*ADALABERS*/
.section-adalabers {
  width: 100%;
  background-color: var(--white);
  position: relative;
  top: 90px;
}
.quienes-somos {
  width: 100%;
  height: 45px;
  font-family: "Rubik";
  font-size: 24px;
  line-height: 1.88;
  text-align: center;
  color: var(--blue-green);
}

.imagen-adalaber {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);

}
.nombre-adalaber {
  width: 200px;
  height: 45px;
  margin: auto;
  font-size: 20px;
  line-height: 2.25;
  text-align: center;
  color: var(--black);
}
.bio {
  margin: 10px;
  font-size: 16px;
  text-align: center;
  color: #54585a;
  
}
.article{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rrss{
  color:var(--blue-green);
}

/* FOOTER */
.footer {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 250px;
  border: solid 1px #b8b8b9;
  background-color: var(--white);
  position: relative;
  top: 90px;
}
.footerlist {
display: flex;
flex-direction: column;
text-align: center;
color:#54855a;
}
.listfooter {
  list-style-type: none;
}
.afooter {
  color:var(--dark-grey);
}

.copyright {
  /*width: 178px;*/
  height: 20px;
  margin: 0 0 20px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #b8b8b9;
}
.logo {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logofooter {
  width: 115.9px;
  height: 45px;
  margin: 30px 28.1px 0 28px;
}
.ulnav {
  padding: 0;
}

/* MEDIAQUERIE TABLET */
@media all and (min-width: 768px) {
  /* HEADER */
  .page-header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .h1-text {
    width: 50%;
    text-align: center;
    margin-left: 45px;
    align-self: auto;
    justify-content: left;
  }
  .nav-class {
    background-color: var(--blue-green);
    display: flex;
    justify-content: flex-end;
  }
  .ul-header {
    width: 300px;
    margin-right: 45px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* HERO */
  .div-hero {
    width: 100%;
    height: 350px;
    /*Dar a la imagen el alto que necesitamos y que ajuste el alto*/
  } 
  /* .img-hero {
     
  } */
  .div-slogan {
    width: auto;
    height: 80px;
    top: 365px;
  }
  .h2-slogan {
    text-align: left;
    margin:0 0 0 45px;
    opacity: 0.8;
  }

}

/* MEDIAQUERIE DESKTOP */
@media all and (min-width: 1200px) {
  /* HEADER */

  .h1-text {
    margin-left: 138px;
  }

  .ul-header {
    margin-right: 138px;
  }
  /* HERO */
  .div-hero {
    width: 100%;
    height: 350px;
    /*Dar a la imagen el alto que necesitamos y que ajuste el alto*/
  } 
  /* .img-hero {
     
  } */

  .h2-slogan {
    margin:0 0 0 138px;
  }

}
