<!--about us-->
<section class="about">
    <div class="container">
      <h3 id="equipo" class="equipo-title-container a">EQUIPO</h3>
      <p class="equipo-text">
        Con backgrounds muy diferentes, tuvimos una visión: convertirnos en
        programadoras front-end. Adalab se nos apareció para ofrecernos la
        oportunidad de reinvertarnos profesionalmente combinando las
        habilidades de nuestros repositorios personales en vistas a nuevos
        desafíos.
      </p>
    </div>
    <!--fortalezas y debilidades-->
    <div class="fortalezasydebilidades">
      <div class="container-fyd">
        <div class="item-fyd">
          <h3 class="FyD-title-container">Fortalezas</h3>
          <p class="FyD-text-container">
            Fortalezas: equipo de adalabers motivadas, con una gran diversidad
            de contextos culturales y profesionales. Gran capacidad para
            adaptarse.
          </p>
        </div>
        <div class="item-fyd">
          <h3 class="FyD-title-container">Debilidades</h3>
          <p class="FyD-text-container debilidades">
            Debilidades: debido al contexto profesional y personal marcado de
            los últimos tiempos, como muchas otras, nos sentimos inseguras
            respecto a nuestro potencial y/o capacidades.
          </p>
        </div>
      </div>
    </div>
  </section>