 <section class="section-adalabers">
    <div class="container">
      <h3 id="adalabers" class="quienes-somos">QUIÉNES SOMOS</h3> 
      

<article>
  <img src="@@imgSrc" alt="@@imgAlt">
  <div>
    <h4>@@adalaberName</h4>
    <p>@@bio</p>
    <div>
      <i class="fa fa-twitter" aria-hidden="true"><a href="@@urlTwitter"></a></i> · <i class="fa fa-linkedin" aria-hidden="true"><a href="@@urlLinkedin"></a></i> · <i class="fa fa-github-alt" aria-hidden="true"><a href="@@urlGithub"></a></i> · <i class="fa fa-envelope" aria-hidden="true"><a href="@@urlMail"></a></i>
    </div>
  </div>
</article>




  </section>