 <!--adalabers-->
 <section class="section-adalabers">
    <div class="container">
      <h3 id="adalabers" class="quienes-somos">QUIÉNES SOMOS</h3> <!-- Hay que poner los nombres correctos y luego darles en CSS el estilo uppercase .A. -->
      <article class="article article-programadora1">
        <img class="imagen-adalaber" src="./assets/images/eugenia.jpg" alt="Eugenia Dallasta" />
        <div class="next-to-img">
          <h4 class="nombre-adalaber">Eugenia Dallasta</h4>
          <p class="bio">
            Siempre en busca de nuevos desafíos, viajera incurable, dejé Argentina hace 5 años, en busca de nuevos destinos, pudiendo combinar mi pasión por viajar con mi crecimiento profesional, incorporando conocimientos y lo más importante experiencias que marcan mi vida. Con un perfil enfocado
            en lo comercial estoy en busca de nuevos horizontes por eso me estoy formando en
            programación front-end.
          </p>
          <div class="rrss">
            <!-- Faltan los links a rrss .A. -->
            <i class="fa fa-twitter" aria-hidden="true"></i> · <i class="fa fa-linkedin" aria-hidden="true"></i> · <i class="fa fa-github-alt" aria-hidden="true"></i> · <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
      </article>
      <article class="article article-programadora2">
        <img class="imagen-adalaber" src="./assets/images/adriana.jpg" alt="Adriana Del Teso" />
        <div class="next-to-img">
          <h4 class="nombre-adalaber">Adriana Del Teso</h4>
          <p class="bio">
            Exploradora de lo terrenal y lo conocido, apasionada de la comunicación y sus infinitos canales, con los continentes de la comunicación audiovisual y gráfica ya descubiertos, explorados y conquistados, me embarco hacia el nuevo mundo de la programación web para navegar por los canales
            del cero y el uno que, presumiblemente, valen mucho más que eso.
          </p>
          <div class="rrss">
            <!-- Faltan los links a rrss .A. -->
            <i class="fa fa-twitter" aria-hidden="true"></i> · <i class="fa fa-linkedin" aria-hidden="true"></i> · <i class="fa fa-github-alt" aria-hidden="true"></i> · <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
      </article>
      <article class="article article-programadora3">
        <img class="imagen-adalaber" src="./assets/images/cecilia.jpg" alt="Cecilia Tallo" />
        <div class="next-to-img">
          <h4 class="nombre-adalaber">Cecilia Tallo </h4>
          <p class="bio">
            Apasionada de la música, los mundos digitales y, por supuesto, sus combinaciones. De mente inquieta y curiosa, adquiero y almaceno datos de todos los diversos campos que me interesan. Guiada por esta ambición de conocimiento, me embarco en la aventura de comprender y manejar la
            programación web y eventualmente, vincularla con mis otras pasiones profesionalmente.
          </p>
          <div class="rrss">
            <!-- Faltan los links a rrss .A. -->
            <a href="" class="link-rrss"><i class="fa fa-twitter" aria-hidden="true"></i></a> · <i class="fa fa-linkedin" aria-hidden="true"></i> · <i class="fa fa-github-alt" aria-hidden="true"></i> · <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
      </article>
      <article class="article article-programadora4">
        <img class="imagen-adalaber" src="./assets/images/paula.jpg" alt="Paula Páez" />
        <div class="next-to-img">
          <h4 class="nombre-adalaber">Paula Páez</h4>
          <p class="bio">
            Amateur de la escalada con experiencia laboral vinculada a proyectos sociales. Con la ayuda de Adalab, tengo la oportunidad de abrir una nueva vía profesional, como programadora front-end. Ilusionada con este reto y convencida de que con este equipo, lograremos llegar a la cima.
          </p>
          <div class="rrss">
            <!-- Faltan los links a rrss .A. -->
            <i class="fa fa-twitter" aria-hidden="true"></i> · <i class="fa fa-linkedin" aria-hidden="true"></i> · <i class="fa fa-github-alt" aria-hidden="true"></i> · <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
      </article>
  </section>