<article class="article">
  <div class="@@name imagen-adalaber" title="@@imgAlt"></div>
  <!-- <img class="imagen-adalaber @@name" src="@@imgSrc" alt="@@imgAlt" /> -->
  <div class="next-to-img next-to-img-@@number">
    <h4 class="nombre-adalaber">@@adalaberName</h4>
    <p class="bio bio-@@number">@@bio</p>
    <div class="rrss">
      <a href="@@urlTwitter"><i class="fa fa-twitter iconTwist" aria-hidden="true"></i></a>
      <span class="bullet">·</span>
      <a href="@@urlLinkedin"><i class="fa fa-linkedin iconTwist" aria-hidden="true"></i></a>
      <span class="bullet">·</span>
      <a href="@@urlGithub"><i class="fa fa-github-alt iconTwist" aria-hidden="true"></i></a>
      <span class="bullet">·</span>
      <a href="@@urlMail"><i class="fa fa-envelope iconTwist" aria-hidden="true"></i></a>
    </div>
  </div>
</article>
