<article class="article">
  <img class="imagen-adalaber" src="@@imgSrc" alt="@@imgAlt" />
  <div class="next-to-img next-to-img-@@number">
    <h4 class="nombre-adalaber">@@adalaberName</h4>
    <p class="bio bio-@@number">@@bio</p>
    <div class="rrss">
      <a href="@@urlTwitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <span class="bulet">·</span>
      <a href="@@urlLinkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
       <span class="bulet">·</span>
      <a href="@@urlGithub"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
       <span class="bulet">·</span>
      <a href="@@urlMail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
  </div>
</article>
