<article class="article article-programadora1">
    <img class="imagen-adalaber" src="@@imgSrc" alt="@@imgAlt">
    <div class="next-to-img">
      <h4 class="nombre-adalaber">@@adalaberName</h4>
      <p class="bio">@@bio</p>
      <div class="rrss">
        <i class="fa fa-twitter" aria-hidden="true"><a href="@@urlTwitter"></a></i> · <i class="fa fa-linkedin" aria-hidden="true"><a href="@@urlLinkedin"></a></i> · <i class="fa fa-github-alt" aria-hidden="true"><a href="@@urlGithub"></a></i> · <i class="fa fa-envelope" aria-hidden="true"><a href="@@urlMail"></a></i>
      </div>
    </div>
  </article>