<footer class="footer">
  <div class="copyright">
    <small> Equipo Sexto Sentido | Promoción Lee © 2020 </small>
  </div>
  <nav class="navfooter">
    <ul class="ulnav">
      <li class="listfooter"><a class="afooter" href="#equipo">Equipo</a></li>
      <li class="listfooter">
        <a class="afooter" href="#adalabers">Quiénes somos</a>
      </li>
      <li class="listfooter"><a class="afooter" href="">Contacto</a></li>
    </ul>
  </nav>

  <div class="logo">
    <a href="https://adalab.es/" target="_blank"
      ><img
        class="logofooter"
        src="./assets/images/logo-adalab.svg"
        alt="Logo Adalab"
    /></a>
  </div>
</footer>
