<footer class="footer">
  <div class="copyright">
    <small> Equipo Sexto Sentido | Promoción Lee © 2020 </small>
  </div>
  <nav class="navfooter">
    <ul class="ulnav">
      <li class="listfooter">
        <a class="afooter" href="@@linkEquipo" title="Equipo">Equipo</a></li>
      <li class="listfooter">
        <a class="afooter" href="@@linkAdalabers" title="Quiénes somos">Quiénes somos</a>
      </li>
      <li class="listfooter">
        <a class="afooter" href="@@linkContact" title="Ir al formulario de contacto">Contacto</a></li>
    </ul>
  </nav>

  <div class="logo">
    <a title="Ir a web de Adalab" href="https://adalab.es/" target="_blank"><img
        class="logofooter"
        src="./assets/images/logo-adalab.svg"
        alt="Logo Adalab"/></a>
  </div>
</footer>
