<header class="page-header">
    <h1 class="h1-text">Equipo sexto sentido</h1>
    <nav class="nav-class">
      <ul class="menu">
        <li class="menu__item">
          <a title="Equipo" class="menu__link" href="#equipo">Equipo</a></li>
        <li class="menu__item">
          <a title="Quiénes somos" class="menu__link" href="#adalabers">Quiénes somos</a></li>
        <!--¿¿¿ menu__item menu__item--contact ???-->
        <li class="menu__item">
          <a title="Contacto" class="menu__link" href="">Contacto</a></li>
      </ul>
    </nav>
  </header>
