<header class="header">
    <h1 class="header__text"><a class="header__link" href="@@linkIndex">Equipo sexto sentido</a></h1>
    <nav class="header__nav">
      <ul class="menu">
        <li class="menu__item">
          <a title="Equipo" class="menu__link" href="@@linkEquipo">Equipo</a></li>
        <li class="menu__item">
          <a title="Quiénes somos" class="menu__link" href="@@linkAdalabers">Quiénes somos</a></li>
        <li class="menu__item">
          <a title="Ir al formulario de contacto" class="menu__link" href="@@linkContact">Contacto</a></li>
      </ul>
    </nav>
  </header>
