 <article class="article article-programadora1">
            <img class="imagen-adalaber" src="./assets/images/eugenia.jpg" alt="Eugenia Dallasta" />
            <div class="next-to-img">
              <h4 class="nombre-adalaber">Eugenia Dallasta</h4>
              <p class="bio">
                Siempre en busca de nuevos desafíos, viajera incurable, dejé Argentina hace 5 años, en busca de nuevos destinos, pudiendo combinar mi pasión por viajar con mi crecimiento profesional, incorporando conocimientos y lo más importante experiencias que marcan mi vida. Con un perfil enfocado
                en lo comercial estoy en busca de nuevos horizontes por eso me estoy formando en
                programación front-end.
              </p>
              <div class="rrss">
                
                <i class="fa fa-twitter" aria-hidden="true"></i> · <i class="fa fa-linkedin" aria-hidden="true"></i> · <i class="fa fa-github-alt" aria-hidden="true"></i> · <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
            </div>
          </article>