@mixin headerText() {
    font-family: $font-title;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.875rem; 
    text-transform: uppercase;
    color: $white;
    text-align: center;   
}
@mixin absoluteCenteredFlex() {
    display: flex;
    align-content: center;
    justify-content: center;    
}