// fonts
$font-title: 'Rubik', sans-serif;
$font-text: "Open sans", sans-serif;
//añadir variable para Open Sans

// colors
$white: white;
$black: black;
$aqua: #14d9c4;
$blue-green: #099d8d;
$light-grey-blue: #b8b8b9;
$grey: #727272;
$dark-grey: #54585a;

//solo variables para colors y font
