// fonts
$font-title: 'Rubik', sans-serif;
$font-text: 'Open Sans', sans-serif;

// colors
$white: white;
$black: black;
$aqua: #14d9c4;
$blue-green: #099d8d;
$grey: #727272;
$cool-grey: #b8b8b9;
$dark-grey: #54585a;
$dark-yellow: #fade00;

// margins ¿?¿?¿?
$marginMobile: 15px;
$marginTablet: 45px;
$marginDesktop: 138px;

//transitions
$transitionLinks: color ease 0.5s;
$transitionHero: background-image 2.5s ease-in-out;
