.container {
  margin-left: 15px;
  margin-right: 15px;
  border: 0;
  @media all and (min-width: 768px) {
    margin-left: 45px;
    margin-right: 45px;
  }
  @media all and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}
/* ABOUT US*/
.about {
  width: 100%;
  position: relative;
  top: 50px;
  @media all and (min-width: 768px) {
    top: 0px;
  }
}
/*  .equipo {
    margin-left: 15px;
    margin-right: 15px;
    border: 0;
    @media all and (min-width: 768px) {
      margin-left: 45px;
      margin-right: 45px;
    }
    @media all and (min-width: 1200px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
    }
  }
*/
.equipo__title {
  line-height: 45px;
  font-family: $font-title;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: $aqua;
  //margin-top: 30px; ---esto está hecho con position relative top en .about --
  @media all and (min-width: 768px) {
    color: $blue-green;
    margin-top: 45px;
  }
}
.equipo__text {
  width: 100%;
  font-family: $font-text;
  font-size: 1rem;
  text-align: center;
  color: $dark-grey;
  margin-top: 15px;
  margin-bottom: 30px;
  @media all and (min-width: 768px) {
    margin-bottom: 45px;
  }
  @media all and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}
.FyD {
  width: 100%;
  background-color: $cool-grey;
}
.FyD__container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  border: 0;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 45px;
  }
  @media all and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}
.FyD__item {
  margin-top: 30px;
  @media all and (min-width: 768px) {
    width: 50%;
    margin-top: 45px;
    margin-bottom: 60px;
    &.FyD__item__fortalezas {
      margin-right: 15px;
    }
    &.FyD__item__debilidades {
      margin-left: 15px;
    }
  }
  @media all and (min-width: 1200px) {
    &.FyD__item__fortalezas {
      margin-right: 22.5px;
    }
    &.FyD__item__debilidades {
      margin-left: 22.5px;
    }
  }
}
.FyD__title {
  width: 100%;
  font-family: $font-title;
  font-size: 1.375rem;
  font-weight: 500;
  text-align: center;
  color: $blue-green;
  line-height: 45px;
  @media all and (min-width: 768px) {
    margin-bottom: 15px;
  }
}
.FyD__text {
  width: 100%;
  font-family: $font-text;
  font-size: 1rem;
  color: $dark-grey;
  letter-spacing: normal;
  text-align: center;
}
.debilidades {
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.FyD__decoration {
  background-color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translate(-22px);
}
