.section-adalabers {
  width: 100%;
  background-color: $white;
  position: relative;
  top: 50px;
  @media all and (min-width: 768px) {
    top: 0px;
  }
}
.quienes-somos {
  scroll-margin-top: 9rem;
  font-family: $font-title;
  font-size: 1.5rem;
  line-height: 1.88;
  text-align: center;
  color: $blue-green;
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  @media all and (min-width: 768px) {
    margin-bottom: 40px;
    margin-top: 45px;
    scroll-margin-top: 6rem;
  }
}

.imagen-adalaber {
  border-radius: 4px;
  border: solid 5px $cool-grey;
}

.eugenia {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.8s ease;
  background-image: url('.././images/eugenia.jpg');

  &:hover {
    background-image: url('.././images/eugenia_ghost.png');
  }
}
.adriana {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.8s ease;
  background-image: url('.././images/adriana.jpg');

  &:hover {
    background-image: url('.././images/adriana_ghost.png');
  }
}
.cecilia {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.8s ease;
  background-image: url('.././images/cecilia.jpg');
  &:hover {
    background-image: url('.././images/cecilia_ghost.png');
  }
}
.paula {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.8s ease;
  background-image: url('.././images/paula.jpg');
  &:hover {
    background-image: url('.././images/paula_ghost.png');
  }
}
.nombre-adalaber {
  font-family: $font-text;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.25;
  text-align: center;
  color: $dark-grey;
}
.bio {
  font-size: 1rem;
  font-family: $font-text;
  text-align: center;
  color: $dark-grey;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rrss {
  margin-top: 15px;
  color: $blue-green;
  text-align: center;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: $blue-green;
}
.next-to-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 768px) {
  .section-adalabers {
    margin-bottom: 60px;
  }
  .article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 680px;
    margin: auto;
  }

  //Adriana y Paula
  .article:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .next-to-img {
    width: 56%;
    margin-left: 45px;
    margin-right: 45px;
    &-odd {
      align-items: flex-start;
    }
    &-even {
      align-items: flex-end;
    }
  }

  .bio {
    &-odd {
      text-align: left;
    }
    &-even {
      text-align: right;
    }
  }
}

.iconTwist {
  transition: all 1s ease;
  &:hover {
    transform: rotate(-360deg);
    color: $dark-yellow;
  }
}

@media all and (min-width: 1200px) {
  .article {
    max-width: 760px;
    margin: auto;
  }
  .next-to-img {
    width: 66%;
  }
}
