.section-adalabers {
  width: 100%;
  background-color: $white;
  position: relative;
  top: 50px;
}
.quienes-somos {
  font-family: $font-title;
  font-size: 1.5rem;
  line-height: 1.88;
  text-align: center;
  color: $aqua;
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 30px;
}

.imagen-adalaber {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  margin-top: 30px;
}
.nombre-adalaber {
  font-family: $font-text;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.25;
  text-align: center;
  color: $black;
}
.bio {
  margin: 10px 15px;
  font-size: 1rem;
  font-family: $font-text;
  text-align: center;
  color: $dark-grey;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rrss {
  margin-top: 15px;
  color: $blue-green;
  text-align: center;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: $blue-green;
}
.next-to-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .quienes-somos {
    flex-flow: row wrap;
    justify-content: center;
    color: $blue-green;
    margin-top: 30px;
  }
  .article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  //Adriana y Paula
  .article:nth-child(odd) {
    flex-direction: row-reverse;
  }
  //Eugenia y Cecilia
  .article:nth-child(even) {
  }
  .next-to-img {
    margin-left: 45px;
    margin-right: 45px;
}

}

@media all and (min-width: 1200px) {

  .imagen-adalaber:nth-child(even){
    margin-left: 138px;
  }
  .imagen-adalaber:nth-child(odd){
    margin-right: 138px;
  }
  
}
