.FyD__text--small {
    font-family: $font-text;
    color: $grey;
    display: block;
    text-align: center;
    margin-bottom: 58px;
}
.asterisk {
    color: $aqua;
}
.form {
    display: flex;
    flex-direction: column;
    font-family: $font-text;
    &__label {        
        color: $dark-grey;
    }
    &__input {
        color: $aqua;
    }
    &__textarea {
        
    }
}
.container.contact__container {
    position: relative;
    @media all and (min-width: 768px) {
        top: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 442px;
      }
      @media all and (min-width: 1200px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 601px;
      }
}
.FyD__title.contact__title {
    margin-top: 30px;
    margin-bottom: 15px;
      @media all and (min-width: 1200px) {
        margin-top: 45px;
      }
}
.FyD__text.contact__text {
    margin-bottom: 30px;
}
