.footer {
  border-top: 1px $cool-grey solid; 
  font-family: $font-text;
  width: 100%;
  background-color: $white;
  position: relative;
}
.container_footer {
  // padding: 30px 0 45px;

  display: grid;
  grid-template-columns:(1fr) ;
  grid-template-rows:1fr 1fr 1fr ;

  @media all and (min-width: 768px) {
  grid-template-columns:(1fr 1fr);
  grid-template-rows: 65px 105px;
  }
  @media all and (min-width: 1200px) {
    grid-template-rows: 65px 95px;
    }
  
}
.copyright {
  margin: 30px 0 20px;
  grid-row: span 1;
  font-family: $font-text;
  font-size: 14px; 
  text-align: center;
  color: $cool-grey;
  @media all and (min-width: 768px) {
    grid-column: 1/2;
    margin: 30px 0px 20px 30px;
    text-align: left;
     }
  }
.navfooter {
 
  margin-bottom:30px;
      @media all and (min-width: 768px) {
        grid-column: 2/3;
        // width:50% ;
        margin-top: 24px;
      }
       @media all and (min-width: 1200px) {
        margin-top: 24px;
      }
}
.ulnav {
  font-family: $font-title;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $dark-grey;
  padding: 0;
  opacity: 75%;
  font-size: 14px;
  line-height: 1.5;
  }
.listfooter {
  list-style-type: none;
  @media all and (min-width: 768px) {
    text-align: right;
    line-height: 30px;
  }
}
.afooter {
  color: $dark-grey;
  text-transform: uppercase;
  padding: 0 15px;
  &:hover {
    color: $black;
    text-decoration: underline;
    transition: $transitionLinks, text-decoration ease 0.5s;
  }
}
.logo {
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  grid-row: span 2;
  @media all and (min-width: 768px) {
    margin-left: 30px;
    top: 65px;
    left: 35px;
    bottom: 60px;
  }
 
}
.logofooter {
  width: 116px;
  height: 45px;
}

  
  

    
     

 
 
 
 
 
