.page-header {
  width: 100%;
  height: 105px;
  position: fixed;
  z-index: 1500;
  background-color: $blue-green;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media all and (min-width: 768px) {
    height: 60px;
    flex-direction: row;
    align-items: baseline;
  }
}
.h1-text {
  font-family: $font-title;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.875rem;
  color: $white;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 15px;
  @media all and (min-width: 768px) {
    width: 50%;
    margin: 15px 0 15px 45px;
    justify-content: left;
  }
  @media all and (min-width: 1200px) {
    margin-left: 138px;
  }
}
.nav-class {
  width: 100%;
  height: 45px;
  background-color: $aqua;
  opacity: 0.95;
  @media all and (min-width: 768px) {
    background-color: $blue-green;
    display: flex;
    justify-content: flex-end;
  }
}
.menu {
  height: 45px;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  @media all and (min-width: 768px) {
    width: 300px;
    margin-right: 45px;
    justify-content: space-between;
  }
  @media all and (min-width: 1200px) {
    margin-right: 138px;
  }
}
.menu__item {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.menu__link {
  font-family: $font-title;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: $white;
  padding: 15px 0;
  text-transform: uppercase;
}
.menu__link:hover {
  color: $black;
  transition: color ease 1s;
}
#equipo {
  scroll-margin-top: 4.2em;
  @media all and (min-width: 768px) {
    scroll-margin-top: 4em;
    //em afecta al tamaño de fuente del contenedor directo. En este caso sería de 24px; 
  }
}
#adalabers {
  scroll-margin-top: 4.2em;
  @media all and (min-width: 1200px) {
    scroll-margin-top: 4em;
  }
}
//¿Poner misma clase a adalabers y equipo?