.header {
  width: 100%;
  height: 105px;
  position: fixed;
  z-index: 1500;
  background-color: $blue-green;
  opacity: 0.95;
  @media all and (min-width: 768px) {
    height: 60px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media all and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      margin: 0 45px;
    }
    @media all and (min-width: 1200px) {
      max-width: 1150px;
      margin: auto;
    }
  }
  &__link {
    @include headerText();
    @include absoluteCenteredFlex();
    margin-top: 15px;
    &:hover {
      // color: $dark-grey;
      transition: $transitionLinks;
    }
    @media all and (min-width: 768px) {
      width: 100%;
      padding: 15px 0;
      margin: 0;
      justify-content: left;
    }
  }
  &__text--animation {
    animation: fadeIn ease 6s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
      transform: scale(1.3);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__nav {
    height: 45px;
    background-color: $aqua;
    opacity: 0.95;
    position: absolute;
    bottom: 0;
    width: 100%;
    @media all and (min-width: 768px) {
      width: 50%;
      background-color: transparent;
      position: static;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.menu {
  height: 45px;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  &__item {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  &__link {
    font-family: $font-title;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.875rem;
    text-transform: uppercase;
    color: $white;
    padding: 15px 0;
    // &:hover {
    //   color: $dark-grey;
    //   transition: $transitionLinks;
    // }
  }
  @media all and (min-width: 768px) {
    width: 300px;
    justify-content: space-between;
  }
}

// glitch effect

.glitch {
  // letter-spacing: 2px;
  @media all and (min-width: 768px) {
    position: relative;
  }

  &:before,
  &:after {
    // display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  &:before {
    color: #d4c86d;
    z-index: -1;
  }
  &:after {
    color: $dark-grey;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
    }
    &:after {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
    }
  }
}
.glitch-nav {
  // letter-spacing: 2px;
  // @media all and (min-width: 768px) {
  //   position: relative;
  // }

  &:before {
    // display: block;
    content: attr(data-glitch-nav);
    text-transform: uppercase;
    position: absolute;
    top: inherit;
    left: inherit;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  &:before {
    color: #68633b;
    z-index: -1;
  }

  &:hover {
    &:before {
      animation: glitch-nav 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
    }
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  80% {
    transform: translate(3px, -3px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes glitch-nav {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 2px);
  }
  40% {
    transform: translate(-2px, -3px);
  }
  60% {
    transform: translate(3px, 2px);
  }
  80% {
    transform: translate(2px, -3px);
  }
  to {
    transform: translate(0);
  }
}
