/*ADALABERS*/
.section-adalabers {
  width: 320px;
  height: 2225px;
  margin: 1083px 0 0;
  padding: 30px 15px 45px;
  background-color: var(--white);
}
.quienes-somos {
  width: 193px;
  height: 45px;
  margin: 0 47.5px 30px 49.5px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

.imagen-adalaber {
  width: 180px;
  height: 180px;
  margin: 0 55px 15px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.nombre-adalaber {
  width: 200px;
  height: 45px;
  margin: auto;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.bio {
  width: 290px;
  height: 200px;
  margin: 10px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  overflow: scroll;
}
